@model Hospital_Management_System.CollectionViewModels.OperationTheatreCollection

@{
    ViewBag.Title = "EditOperationTheatre";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Operation Theatre</li>
        <li class="active">Edit Operation Theatre</li>
    </ol>
</div>

<h2>Edit Operation Theatre</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.OperationTheatre.PatientId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.OperationTheatre.PatientId, new SelectList(Model.Patients, "Id", "FullName", Model.OperationTheatre.PatientId), "Select Patient", new { @id = "dropdown1", @class = "form-control" })
                <br />
                @Html.ValidationMessageFor(model => model.OperationTheatre.PatientId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OperationTheatre.DoctorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.OperationTheatre.DoctorId, new SelectList(Model.Doctors, "Id", "FullName"), "Select Doctor", new { @id = "dropdown2", @class = "form-control" })
                <br />
                @Html.ValidationMessageFor(model => model.OperationTheatre.DoctorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OperationTheatre.AppointmentId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.OperationTheatre.AppointmentId, new SelectList(Model.Appointments, "Id", "Problem"), "Select Appointment", new { @id = "dropdown3", @class = "form-control" })
                <br />
                @Html.ValidationMessageFor(model => model.OperationTheatre.AppointmentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OperationTheatre.MedicalTestId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.OperationTheatre.MedicalTestId, new SelectList(Model.MedicalTests, "Id", "Name"), "Select Medical Test", new { @id = "dropdown4", @class = "form-control" })
                <br />
                @Html.ValidationMessageFor(model => model.OperationTheatre.MedicalTestId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OperationTheatre.OperationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OperationTheatre.OperationDate, new { htmlAttributes = new { @class = "form-control" } })
                @if (ViewBag.Messege != null)
                {
                    <span class="text-danger">@ViewBag.Messege</span>
                }
                @Html.ValidationMessageFor(model => model.OperationTheatre.OperationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OperationTheatre.Problem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.OperationTheatre.Problem, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OperationTheatre.Problem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OperationTheatre.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.OperationTheatre.Status, new { @style = "margin-top:10px" })
                @Html.ValidationMessageFor(model => model.OperationTheatre.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @*@if (Model.Appointment.Status)
        {
            @Html.ActionLink("Back to List", "ListOfAppointments")
        }
        else
        {*@
    @Html.ActionLink("Back to List", "ListOfOperationTheatre")
    @*}*@
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $("#dropdown1").chosen();
        });
        $(function () {
            $("#dropdown2").chosen();
        });
        $(function () {
            $("#dropdown3").chosen();
        });
        $(function () {
            $("#dropdown4").chosen();
        });
    </script>
}
